/* site properties */

.main {
    width: 100%;
    height: auto;
}

.hero-image{
    width: 100%;
    height: 100vh;

    position: relative;
}

.hero-image img {
    height: inherit;
    width: inherit;

    object-fit: cover;
    object-position: 50% 0%;
}

.hero-image-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-image-text h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    font-family: var(--primary-font);
    margin-bottom: 25px; 
}

.hero-image-text h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: var(--primary-font);
    margin-bottom: 50px;  
}

.information {
    width: 100%;
    max-width: var(--max-width);
    margin: 100px auto;
    padding: 1rem 1.5rem;
}

.information h2,
.fotographies h2 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--primary-font);
    margin-bottom: 25px;
    margin-top: 25px
}

.information p {
    font-size: 1.5rem;
    line-height: 2.5ch;
    font-weight: 500;
    font-family: var(--primary-font);
}

.fotographies-desktop {
    display: none;
}

.fotographies {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: var(--gray-color);
    padding-bottom: 50px;
}

.carousel {
    max-width: var(--max-width);
    margin: 0 auto;
}

.carousel-item {
    width: 100%;
    height: auto;
}

.carousel-item img {
    max-width: max-content;
    margin: 0 auto;

    object-fit: cover;
    object-position: 50% 0%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/* media queries */

@media (640px <= width < 1024px) {
    .information {
        width: 80%;
    }
}


@media (1024px <= width) {
    .information {
        width: 80%;
    }
    
    .fotographies-mobile {
        display: none;
    }

    .fotographies-desktop {
        display: block;
    }

    .carousel-item img {
        max-width: auto;
        margin: 0 auto;
    
        object-fit: cover;
        object-position: 50% 0%;
    }
    
}