/* Custom properties */

:root {
    
    /* Colors */

    --first-color: #ffba01;
    --first-alpha-color: #ffba01d7;
    --second-color: #F3F3F3;
    --third-color: #292929;
    --third-alpha-color: #313131;
    
    --white-color: #FFFFFF;
    --gray-color: #CCCCCC;
    --black-color: #000000;
    --black-alpha-color: #00000050;
    --black-alpha-second-color: #00000095;

    --box-shadow: #00000025;

    --text-color: #222222;

    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    
    /* Fonts */

    --primary-font: 'Overpass', sans-serif;
    
    /* Measures */

    --max-width: 1280px;
    --header-height: 80px;
    
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    min-width: 0;
    font: inherit; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: var(--third-alpha-color);
}

html::-webkit-scrollbar-track {
    background: var(--black-color);
}

img, video, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
    min-width: 320px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    margin: 0;
    padding: 0;
}

p {
    text-wrap: pretty;
}

/* Site properties */

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0vh;
    z-index: 999;

    transition: background-color .5s ease;
}

.header-container {
    width: 100%;
    height: 100%;

    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 40%;
    height: 100%;
}

.header .logo a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo img {
    width: 100%;
    max-height: 75%;
}

.nav-mobile {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mobile ul {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    list-style: none;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.nav-mobile ul.is-active {
    opacity: 1;
    pointer-events: auto;
}

.nav-mobile ul li {
    padding: 1rem;
    width: 100%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mobile ul a {
    width: 10ch;
    height: 100%;
    display: block;

    text-decoration: none;
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 700;
}

.main {
    position: relative;
    top: 0vh;
    width: 100%;
    min-height: 100vh;

    padding-bottom: 15vh;
}

.slider {
    width: 100%;
    height: 90vh;

    position: relative;
    text-align: center;
}

.slider-slides {
    width: 100%;
    height: inherit;
    position: relative;
}

.slider-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img {
    height: inherit;
    width: inherit;

    object-fit: cover;
    object-position: 50% 0%;
}

.slider-slide.active {
    opacity: 1;
    visibility: visible;
}

.slider-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider a {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--black-alpha-color);
    font-size: 1.5rem;

    transition: all .5s ease;
}

.slider a:hover {
    color: var(--white-color);
    background-color: var(--black-alpha-second-color);
}

.slider a i {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.presentation {
    padding-top: 200px;
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 990;
}

.presentation h1 {
    position: absolute;
    z-index: 992;

    text-align: center;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 3.5rem;

    padding: 0 1rem;
}

.presentation img {
    position: absolute;
    z-index: 991;
    opacity: .25;

    max-height: 200px;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    background-color: var(--white-color);

    transform: skewY(6deg);
    transform-origin: top right;
}

.about-us {
    width: 100%;
    min-height: auto;
    padding-top: 150px;
    margin-bottom: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 990;
}

.about-us-content {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.title-section {
    font-size: 2rem;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 900;
    color: var(--black-color);

    border-bottom: 5px solid var(--first-color);
    min-width: 10ch;
    max-width: 15ch;
    margin: 0 auto 50px;
    padding: .5rem;
}

.about-us-content p {
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--text-color);
}

.services {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    padding-bottom: 150px;

    background-color: var(--second-color);

    position: relative;
    z-index: 990;
}

.services h2 {
    margin-top: 100px;
    margin-bottom: 70px;
}

.services-container {
    width: 90%;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-content: center;
    gap: 2.5rem;
}

.service {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    /* min-height: 400px; */
    min-height: 300px;
    max-height: 500px;
    padding: 1rem;
    /* box-shadow: 0.25rem 0.25rem 1rem var(--box-shadow); */
    border-radius: .5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
    
    transition: transform .5s ease, opacity .5s ease;
}

.service h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font);
    margin-bottom: 50px;

    padding: 1rem 0rem;

    border-top: 2.5px solid var(--first-color);
    border-bottom: 2.5px solid var(--first-color);
}

.service p {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-color);
    text-align: center;
}

.service-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: .5rem;
}

.skewed-reverse {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    background: var(--second-color);

    transform: skewY(-6deg);
    transform-origin: top left;
}

.jobs {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1rem;
    padding-bottom: 150px;

    background-color: var(--white-color);

    position: relative;
    z-index: 990;
}

.jobs h2 {
    margin-top: 100px;
    margin-bottom: 70px;
}

.jobs-container-desktop {
    display: none;
}

.jobs-container-mobile {
    width: 95%;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-content: center;
    gap: 2.5rem;
}

.job {
    width: 100%;
    min-height: 400px;
    max-height: 550px;
    max-width: 800px;
    margin: 0 auto;
    padding: .5rem;
    box-shadow: 0.25rem 0.25rem 1rem var(--box-shadow);
    border-radius: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
    
    transition: transform .5s ease, opacity .5s ease;

    text-decoration: none;
}

.job-img {
    width: 100%;
    height: 40%;
    max-height: 450px;
}

.job-img img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.job-text {
    width: 100%;
    height: 60%;
    padding: .5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.job h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--black-color);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.job p {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;
}

.job p b {
    color: var(--first-color);
    border-bottom: 5px solid var(--first-color)
}

.contact-us {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    min-height: 100vh;
    padding-top: 5vh;

    font-family: var(--primary-font);
}

.contact-us h2 {
    margin-top: 100px;
    margin-bottom: 70px;
}

.contact-us p {
    width: 90%;
    display: block;
    margin: 1rem auto;
    padding: 0 1rem;
    
    font-size: 1.15rem;
    font-weight: 700;
}

.contact-form {
    width: 90%;
    margin: 0 auto 5rem auto;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact-form > * {
    padding: .5rem;
    margin: .5rem auto;
    display: block;
    width: 100%;
}

.contact-form input[type="submit"]{
    transition: opacity .5s ease;
}

.contact-form textarea {
    resize: none;
}

.contact-form-response {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--form-ok-color);
}

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
}

.contact-form input[type="submit"] {
    width: 50%;
    outline: none;
    border: 1px solid var(--black-color);
    background-color: var(--first-color);

    font-weight: 700;
    cursor: pointer;
}

.contact-form *::placeholder {
    color: var(--text-color);
}

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color)
}

.contact-form [required]:invalid {
    border: thin solid var(--black-color);
}

.contact-form-error {
    margin-top: -1rem;
    background-color: var(--form-error-color);

    font-size: 80%;
    color: var(--white-color);

    transition: all 800ms ease;
}

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader {
    width: 100%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.contact-info {
    width: 90%;

    margin: 0 auto 5rem auto;
    height: auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-content: center;
    gap: 1rem;
}

.contact-info .info {
    margin: 0 auto;
    width: 100%;
    height: 150px;
    box-shadow: 0.25rem 0.25rem 1rem var(--box-shadow);
    border-radius: .5rem;
    border: 1px solid var(--black-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.contact-info .info-img {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .info-img img {
    height: 3rem;
    width: 3rem;
}

.contact-info .info-text {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-info .info-text h3 {
    font-size: 1.2rem;
    font-weight: 700;

    margin: .5rem 0rem .5rem 0rem;
}

.contact-info .info-text p {
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;

    margin: 0;
}

.contact-info .info-text a,
.contact-info .info-text small {
    color:  var(--text-color);
    text-align: center;
    text-decoration: none;

    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;

    margin: 0;
}

.footer {
    margin-top: 0vh;
    width: 100%;
    height: auto;
    background-color: var(--third-color);
}

.footer img {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
}

.footer-copyright {
    width: 100%;
    background-color: var(--third-alpha-color);
}

.footer p {
    margin: 0;
    padding: .5rem;

    text-align: center;
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: .8rem;
}

/* Utilities */

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.transparent {
    background-color: transparent;
}

/* Media queries */

@media (640px <= width < 1024px) {

    .header {
        height: calc(var(--header-height) + 20px);
    }

    .header .logo img {
        max-height: 85%;
    }
    
    .nav-mobile ul {
        top: calc(var(--header-height) + 20px);
    }

    .nav-mobile ul li {
        padding: 1.2rem;
    }
    
    .nav-mobile ul a {
        font-size: 1.5rem;
    }

    .presentation h1 {
        font-size: 4.2rem;
    }

    .presentation img {
        max-height: 250px;
    }

    .about-us {
        min-height: 900px;
    }
    
    .about-us-content {
        padding: 2.5rem;
    }
    
    .title-section {
        font-size: 2.5rem;
    }
    
    .about-us-content p {
        font-size: 1.75rem;
    }

    .services h2 {
        margin-top: 120px;
    }

    .service {
        max-width: 500px;
        margin: 0 auto 2.5rem;
    }

    .service h3 {
        font-size: 2rem;
    }

    .service p {
        font-size: 1.5rem;
    }
    
    .jobs {
        max-width: 650px;
    }

    .jobs h2 {
        margin-top: 120px;
    }
    
    .job {
        min-height: 500px;
        max-height: 800px;
    }
    
    .job-img {
        height: 50%;
    }
    
    .job-text {
        height: 60%;
        padding: 1rem;

    }
    
    .job h3 {
        font-size: 2rem;
    }
    
    .job p {
        font-size: 1.5rem;
    }

    .contact-us {
        max-width: 650px;
    }
    
    .contact-us p {
        font-size: 1.5rem;
    }

    .contact-form > input {
        padding: 1rem;
        margin: .5rem auto;
    }
    
    .contact-form > span {
        padding: 1rem;
        font-size: 1rem;
    }
    
    .contact-form > input,
    .contact-form > textarea {
        font-size: 1.2rem;
    }

    .contact-info .info-img img {
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .contact-info .info-text h3 {
        font-size: 1.5rem;
    }
    
    .contact-info .info-text p {
        font-size: 1.45rem;
    }
    
    .contact-info .info-text a,
    .contact-info .info-text small {
        font-size: 1.45rem;
    }

    .footer {
        margin-top: 0vh;
        width: 100%;
        height: auto;
        background-color: var(--third-color);
    }
    
    .footer img {
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
    }
    
    .footer-copyright {
        width: 100%;
        background-color: var(--third-alpha-color);
    }
    
    .footer p {
        margin: 0;
        padding: 1rem;
    
        text-align: center;
        color: var(--gray-color);
        font-family: var(--primary-font);
        font-size: 1.2rem;
    }

}

@media (1024px <= width) {

    .header {
        max-height: 75px;
    }

    .header .logo a {
        width: 50%;
    
        justify-content: space-between;
    }

    .header .logo {
        width: 30%;
    }

    .header .logo img {
        padding-top: .5rem;
        padding-bottom: .5rem;
        max-height: 100%;
    }

    .nav-desktop {
        width: 60%;
        max-width: 800px;
        height: 100%;
    }

    .nav-desktop ul {
        list-style: none;
        margin: 0;
        padding: 0;

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-desktop ul li {
        height: 100%;
    }

    .nav-desktop ul a {
        font-size: 1.5rem;
        color: var(--black-color);
        font-family: var(--primary-font);
        text-decoration: none;
        font-weight: 700;
        
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 5px solid transparent;
        
        transition: border-bottom .5s ease, opacity .5s ease;
    }

    .nav-desktop ul a.section-active {
        border-bottom: 5px solid var(--black-color);
    }

    .nav-desktop ul a:hover {
        opacity: .8;
        border-bottom: 5px solid var(--black-color)
    }

    .slider {
        height: 100vh;
    }

    .presentation {
        height: 350px;
    }
        
    .skewed {    
        transform: skewY(3deg);
    }
    
    .about-us-content {
        max-width: 800px;
    }

    .about-us-content p {
        font-size: 1.5rem;
    }

    .services .title-section {
        margin-bottom: 70px;
    }

    .services {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
       
    .services-container {
        max-width: 1280px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service {
        min-height: auto;
        max-height: auto;
        height: 80%;
        padding: 1rem;
    }

    .service p {
        font-size: 1.5rem;
    }
    
    .service:hover {
        transform: translateY(-20px);
    }
    
    .skewed-reverse {
        transform: skewY(-3deg);
    }

    .jobs {
        width: 100%;
        max-width: 1280px;
    }

    .jobs h2 {
        margin-top: 100px;
    }

    .jobs-container-mobile {
        display: none;
    }

    .jobs-container-desktop {
        max-width: 1280px;
        height: auto;
        margin: 0 auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .job {
        min-height: auto;
        max-height: 650px;
        max-width: 100%;
        margin-bottom: 50px;
        
        justify-content: space-between;
        flex-direction: row;

        background-color: var(--gray-color);
    }

    .job:hover {
        transform: translateX(-1rem);
        opacity: .9;
    }
    
    .job .job-img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .job .job-img img {
        border-radius: .5rem;
    }
    
    .job .job-text {
        width: 40%;
        height: 100%;
        margin: 0 auto;
        
        text-align: center;
    }
    
    .jobs-container-desktop .job:nth-child(odd){
        flex-direction: row-reverse;

        background-color: var(--gray-color);
    }

    .jobs-container-desktop .job:nth-child(odd):hover {
        transform: translateX(1rem);
        opacity: .9;
    }

    .job h3 {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: var(--primary-font);
    }
    
    .job p {
        font-size: 1.1rem;
        font-weight: 500;
        font-family: var(--primary-font);
        color: var(--text-color);
        text-align: center;
    }

    .job p b {
        color: var(--black-color);
    }
    
    .job-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        background-color: var(--black-alpha-second-color);
        border-radius: .5rem;
    
        opacity: .3;
    }

    .contact-us {
        max-width: 1120px;
        min-height: auto;
        padding: 0;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "title title"
        "form info";
    }

    .contact-us h2 {
        margin-top: 100px;
        grid-area: title;
    }

    .write-us {
        grid-area: form;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .contact {
        grid-area: info;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    
    .contact-form {
        width: 100%;
    }

    .contact-form input[type="submit"]:hover {
        opacity: .7;
    } 
    
    .contact-info {
        width: 100%;
        padding: 0;
    
        grid-area: info;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "tel whats"
        "email hs";
        place-content: center;
        gap: 1rem;
    }

    .contact-info .info {
        margin: 0 auto;
        padding: 2rem 0rem;
        width: 100%;
        height: auto;

        justify-content: space-evenly;

        border: 1px solid var(--black-color);
    }

    .contact-info .info:nth-child(1) {
        grid-area: tel;

        width: 100%;
        height: 80%;
        margin-top: 1.5rem;
    }

    .contact-info .info:nth-child(2) {
        grid-area: whats;

        width: 100%;
        height: 80%;
        margin-top: 1.5rem;
    }

    .contact-info .info:nth-child(3) {
        grid-area: email;

        width: 100%;
        height: 80%;
    }

    .contact-info .info:nth-child(4) {
        grid-area: hs;

        width: 100%;
        height: 80%;
    }

    .contact-info .info-img {
        width: 20%;
    }

}
